.jumbotron {
  font-family: "Faster One", cursive;
  text-align: center;
  font-size: 35pt;
  border: 1px solid black;
}

body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
}

#timer {
  text-align: center;
  font-weight: bold;
  font-size: 25pt;
  background-color: aliceblue;
  border-radius: 15px;
  border: 1px solid black;
  padding: 10px;
}

#displayQuestionAnswer {
  background-color: aliceblue;
  border-radius: 15px;
  border: 1px solid black;
  padding: 40px;
  text-align: center;
  font-size: 25px;
}

.choice {
  background-color: greenyellow;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  border-radius: 35px;
}
